/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */


/* ==========================================================================
   CSS Reset markup
   ========================================================================== */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed,
  figure, figcaption, footer, header, hgroup,
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
  	margin: 0;
  	padding: 0;
  	border: 0;
  	font-size: 100%;
  	font: inherit;
  	vertical-align: baseline;
  }
  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure,
  footer, header, hgroup, menu, nav, section {
  	display: block;
  }
  body {
  	line-height: 1;
  }
  ol, ul {
  	list-style: none;
  }
  blockquote, q {
  	quotes: none;
  }
  blockquote:before, blockquote:after,
  q:before, q:after {
  	content: '';
  	content: none;
  }
  table {
  	border-collapse: collapse;
  	border-spacing: 0;
  }

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

   body {
     font-family: Rajdhani;
   }

   .flexbox-container {
     display: flex;
   }

   .vertically-centered {
     /* VERTICAL CENTER MARKUP */
     position: relative;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     text-align: center;
   }

   .h-center {
     position: relative;
     left: 50%;
     transform: translateX(-50%);
   }

   .width-limit {
     max-width: 960px;
   }

   .gradient {
     background-image: linear-gradient(-19deg, #21D4FD 0%, #B721FF 100%);
     background-size: cover;
   }

   .hero-bg {
     width: 100%;
     /*height: 100vh;*/
     border: 0px;
     padding: 0px;
     margin: 0px;
     background-size: cover;
     display: inline-block;
     min-height: 480px;
   }

   .icons-row {
     display: flex;
     align-items: baseline;
     justify-content: center;
     /*padding-top: 10px;*/
   }

   .icon-and-label {
    color: #FFFFFF;
    margin: 10px 30px;
    font-family: Oswald-ExtraLight;
    font-size: 26.88px;
    letter-spacing: 0;
    display: flex;
    justify-content: center;
    align-items: center;
   }

   img.icons-row {
     height: 36px;
     width: auto;
     margin-right: 16px;
   }

   .headline {
     /* An evening of knowle: */
    font-family: Rajdhani-Medium;
    font-size: 36px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 62px;
    margin: 80px 0;
    text-align: center;
   }

   .header-logo {
     background-image: url('../img/triangle-technight-scalable.svg');
     background-repeat: no-repeat;
     background-position: center;
     height: 200px;
     width: auto;
     margin-top: 80px;
   }

   .next-event-container {
     display: flex;
     align-items: center;
     flex-wrap: nowrap;
     justify-content: center;
     width: auto;
     height: auto;
     min-width: 400px;
     min-height: 40px;
   }

   .next-event-border {
     border: 6px solid #FFFFFF;
     display: inline-block;
     margin-bottom: 80px;
   }

   .event-icon  {
     margin: 16px;
   }

   h2.next-event-text {
    font-weight: bold;
    font-family: Rajdhani-Bold;
    font-size: 28px;
    color: #FFFFFF;
    letter-spacing: 0;
    margin-right: 16px;
   }

   .section-title {
    /* Tech Night?: */
    font-family: Rajdhani-Bold;
    font-size: 38px;
    color: #4A4A4A;
    letter-spacing: 0;
    display: inline-block;
    margin-top: 80px;
   }

   .section-title-underline {
     display: block;
     margin-bottom: 80px;
     margin-top: 16px;
     height: 8px;
     width: 100%;
   }

   .about-section {
     display: flex;
     justify-content: center;
     align-items: center;
     vertical-align: baseline;
     margin-top: 80px;
   }

   .about-right {
     text-align: left;
   }

   .about-left {
     text-align: right;
   }

   .about-title {
    font-family: Rajdhani-SemiBold;
    font-size: 24px;
    color: #4A4A4A;
    letter-spacing: 0;
   }

   .about-paragraph {
    font-family: Rajdhani-Regular;
    font-size: 16px;
    color: #4A4A4A;
    letter-spacing: 0;
   }

   .paragraph-emphasized {
     font-weight: bold;
   }
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip-path: inset(50%);
    display: inline-block;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
